<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main class="prod-detail-main">

        <div class="video-container-producto">
            <img src="/images/video-img.png" alt="">
        </div>
        <section class="desktop-product">
            <h3><%= product.name %></h3>
            <p><%= product.shortDescription %>
            </p>
            <div class="card-rating stars-product"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            </div>
            <p>Creado por <span> <%= product.createdBy %></span></p>
            <p><i class="fas fa-globe"></i>Español / Inglés</p>
            <p class="product-price">$ <%= product.price %></p>
            <div class="card-buttons product-mobile-btn">
                <button class="card-buy">Comprar</button>
                <button class="card-cart"><i class="fas fa-shopping-cart"></i>Agregar</button>
            </div>
        </section>
        <section class="sticky-product">
            <div class="product-background">
                <img src="" alt="">
            </div>
            <div class="sticky-info-container">
                <p class="sticky-price">$ <%= product.price %></p>
                <div class="card-buttons sticky-buttons">
                    <button class="card-buy sticky-buttons-block">Comprar</button>
                    <button class="card-cart sticky-buttons-block"><i class="fas fa-shopping-cart"></i>Agregar</button>
                </div>
                <div>
                    <h4>Este programa incluye:</h4>
                    <p><%= product.program %></p>
                    <a href="" class="sticky-coupon">Aplicar cupón</a>
                </div>
            </div>
        </section>
        <section class="product-info">
            <article class="product-what-for">
                <h4>Para que te sirve este curso?</h4>
                <p><%= product.whatFor %></p>
            </article>
            <article>
                <h4>Contenidos del curso</h4>
                <p><%= product.content %></p>

            </article>

        </section>
        <section class="other-programs-sect">
            <h4>Consulta nuestros otros programas</h4>
            <div class="other-programs">
                <article class="article-card card">
                    <div class="card-background">
                        <img src="" alt="">
                    </div>
                    <h3>Titulo 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequuntur nemo eaque aut sit
                        iste
                        necessitatibus possimus dolor aspernatur odit</p>
                    <div class="card-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    <p class="card-price">$3.500</p>
                    <a href="/productDetail" class="more-info"><i class="fas fa-info-circle"></i>Más información</a>
                    <div class="card-buttons sticky-buttons">
                        <button class="card-buy">Comprar</button>
                        <button class="card-cart"><i class="fas fa-shopping-cart"></i>Agregar</button>
                    </div>
                </article>
                <article class="article-card-2 card">
                    <div class="card-background">
                        <img src="" alt="">
                    </div>
                    <h3>Titulo 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequuntur nemo eaque aut sit
                        iste
                        necessitatibus possimus dolor aspernatur odit</p>
                    <div class="card-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    <p class="card-price">$3.500</p>
                    <a href="/productDetail" class="more-info"><i class="fas fa-info-circle"></i>Más información</a>
                    <div class="card-buttons sticky-buttons">
                        <button class="card-buy">Comprar</button>
                        <button class="card-cart"><i class="fas fa-shopping-cart"></i>Agregar</button>
                    </div>
                </article>
            </div>

        </section>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>

</body>

</html>