<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <main>
        <div class="video-container">
            <video autoplay muted class="video-background">
                <source src="videos\video-background.mp4" type="video/mp4">
            </video>
            <h2>JOB SEARCH EXPERIENCE</h2>
            <p>
                Bienvenido al inicio de un crecimiento en tu carrera profesional!
            </p>
        </div>

        <% for (let i = 0; i < 3; i++) {
            const prod = products[i]; %>



        <% } %>

        <section class=" articles-presentation" id="programs">
            <h3>PROGRAMAS PARA EL CRECIMIENTO LABORAL</h3>
            <p> A continuacion te presentamos los programas con los que te ayudamos a emprender el crecimiento en tu carrera profesional!</p>
            <div class="article-group">
                <% for (let i = 0; i < 3; i++) {
            const prod = products[i]; %>

                <article class="article-card-<%=[i] %> card">
                    <div class="card-background">
                        <img src="" alt="">
                    </div>
                    <h3><%= prod.name %></h3>
                    <p><%= prod.shortDescription %></p>
                    <div class="card-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    <p class="card-price">$ <%= prod.price %></p>
                    <a href="/productDetail/<%= prod.id %>" class="more-info"><i class="fas fa-info-circle"></i>Más
                        información</a>
                    <div class="card-buttons">
                        <button class="card-buy">Comprar</button>
                        <button class="card-cart"><i class="fas fa-shopping-cart"></i>Agregar</button>
                    </div>
                </article>

                <% } %>

            </div>
        </section>
        <section class="about-us">
            <h4>Sobre Nosotros</h4>
            <div class="about-us-img">
                <img src="/images/foto-nosotros.png" alt="">
            </div>
            <div class="about-us-container">
                <h5>Job Search Experience</h5>
                <p>Contamos con amplia experiencia y profesionales con trayectoria en destacadas empresas nacionales e internacionales, quienes te acompanarán en el proceso de cambio personal y crecimiento profesional.</p>
            </div>
        </section>
        <section class="experiences">
            <h4>Experiencias</h4>
            <div class="exp-container">
                <article class="experience-card exp-card">
                    <p>Guillermo Duran</p>
                    <p> Consultor especializado en educacion, profesional con amplia experiencia en capacitacion in company. Especialista en gestion de empresas de tecnologia y desarrollo de software.</p>
                </article>
                <article class="experience-card-2 exp-card">
                    <p>Carlos Curi</p>
                    <p>Profesional especializado en gestion de negocios, con amplia experiencia en empresas nacionales y multinacionales de consumo masivo, logistica, ecommerce y retail.</p>
                </article>
                <article class="experience-card-3 exp-card">
                    <p>Javier Espigares</p>
                    <p>Profesional especializado en research y headhunting, con destacada experiencia en empresas de seleccion de talentos. Profesor en la Universidad de Buenos Aires. </p>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>

</html>