<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main class="register-main profile-main">


        <h2>Hola <%= user.user %> </h2>
        <p>Tu correo es <%= user.email %></p>
        <p>Tu imagen de perfil</p>
        <img src="/images/users/<%=user.profile_image%>" alt="imagen de perfil" width="200px" style="display: block;">

        <form action="/user/profile" method="POST" enctype="multipart/form-data">
            <input type="file" name="profile_image" accept=".jpg, .png" id="profile_image" required>
            <p>Tu correo es <%= user.email %></p>
            <button type="submit" class="card-cart login-btn edit-product">Cambiar Imagen</button>
        </form>

        <button onclick="location.href='/user/logout'" class="card-buy register-btn profile-btn">Cerrar Sesión</button>

    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>