<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main class="register-main">
        <h2>Registro</h2>

        <form method="POST" action="/user/register" enctype="multipart/form-data">
            <div>
                <i class="fas fa-user"></i><input type="text" name="user" id="user" placeholder="Jose Hernández"
                    value="<%= locals.oldData ? oldData.user : null %>">
            </div>
            <% if (locals.errors && errors.user) { %>
            <div class="text-danger"><%= errors.user.msg %> </div>
            <% } %>
            <div>
                <i class="fas fa-envelope"></i><input type="email" name="email" id="email"
                    placeholder="tuemail@email.com" value="<%= locals.oldData ? oldData.email : null %>">
            </div>
            <% if (locals.errors && errors.email) { %>
            <div class="text-danger"><%= errors.email.msg %> </div>
            <% } %>
            <div>
                <i class="fas fa-lock"></i><input type="password" name="password" id="password" placeholder="********"
                    value="<%= locals.oldData ? oldData.password : null %>">
            </div>
            <% if (locals.errors && errors.password) { %>
            <div class="text-danger"><%= errors.password.msg %> </div>
            <% } %>
            <button type="submit" class="card-buy register-btn">Registrarse</button>
        </form>
        <section class="register-opt">
            <p>O regístrate con una de las siguientes:</p>
            <div class="register-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
            </div>
            <p>Ya tienes una cuenta?</p>
            <button onclick="location.href='/user/login'" class="card-cart login-btn">Iniciar Sesión</button>
        </section>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>